<h1>Results for "{{search}}"</h1>

{{!-- "row" is always the direct parent of the cols --}}
<div class="row">
{{#each artists}}
  {{!-- col-md-4 => Col of 4/12 when the screen is medium or bigger --}}
  {{!-- col-6 => Col of 6/12 in any case --}}
  {{!-- Default: 12/12 --}}
  <div class="col-md-4 col-6">
    <div class="card my-2">
      {{#if this.images.[0]}}
        <img src="{{this.images.[0].url}}" class="card-img-top">
      {{else}}
        <img src="https://i.imgur.com/3MOFWYd.png" class="card-img-top">
      {{/if}}
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/albums/{{this.id}}" class="btn btn-primary">View Album</a>
      </div>
    </div>
  </div>
{{/each}}
</div>
